<div class="container">
    <div class="home-images">
        <div class="beach">
            <img src="assets/images/home-pictures/beach.jpg" alt="beach">
        </div>
        <div class="berat">
            <img src="assets/images/home-pictures/berat.jpg" alt="berat">
        </div>
        <div class="saranda">
            <img src="assets/images/home-pictures/saranda.jpg" alt="saranda">
        </div>
        <div class="theth">
            <img src="assets/images/home-pictures/theth.jpg" alt="theth">
        </div>
    </div>
    <div>
        <h1>Explore Albania</h1>
        <h2>Trip Portal takes you where few can go!</h2>
    </div>
    <div>
        <h2>Find the perfect adventure</h2>
        <h3>Itineraries are expertly designed, by local guides who know their area best.</h3>
    </div>
    <div>
        <h2>Book with confidence</h2>
        <h3>We pick the very best guides (we're qualified mountain guides ourselves). Payments are 100% protected by
            Trust My
            Travel.</h3>
    </div>
    <div>

    </div>

</div>