<div class="container">
    <div class="home-images">

        <!-- <img src="assets/images/home-pictures/beach.jpg" class="rounded float-start" alt="beach"> -->
        <img src="assets/images/home-pictures/berat.jpg" class="img-fluid" alt="berat">
        <!-- <img src="assets/images/home-pictures/saranda.jpg" class="rounded mx-auto d-block" alt="saranda">
        <img src="assets/images/home-pictures/theth.jpg" class="rounded float-end " alt="theth"> -->

    </div>

    <div class="description text-center">
        <h1>Explore Albania</h1>
        <h2>Trip Portal takes you where few can go!</h2>

    </div>
    <div class="d-flex justify-content-evenly text-center">
        <div class="short-desc-one">
            <h6>Find the perfect adventure</h6>
            <p>Itineraries are expertly designed, by local guides who know their area best.</p>
        </div>
        <div class="short-desc-two">
            <h6>Book with confidence</h6>
            <p>We pick the very best guides (we're qualified mountain guides ourselves). Payments are 100% protected by
                Trust My
                Travel.</p>
        </div>
        <div class="short-desc-three">
            <h6>Feel good</h6>
            <p>We make sure as much of your payment as possible goes directly to the local guides. It also makes your
                trip
                more
                affordable!</p>
        </div>
    </div>
    <div class="row">
        <h3>Popular Trips</h3>
        <div class="popular-trips-one" style="width: 18rem;">
            <img src="assets/images/home-pictures/beach.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Explore Beaches</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="popular-trips-two" style="width: 18rem;">
            <img src="assets/images/home-pictures/saranda.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Explore Saranda</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="popular-trips-three " style="width: 18rem;">
            <img src="assets/images/home-pictures/theth.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Explore Theth</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="row">
            <h3>Upcoming Trips</h3>
            <div class="upcoming-trips" style="width: 18rem;">
                <img src="assets/images/home-pictures/lezha.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Explore Lezha</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="upcoming-trips-two" style="width: 18rem;">
                <img src="assets/images/home-pictures/durres.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="upcoming-trips-three" style="width: 18rem;">
                <img src="assets/images/home-pictures/korca.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

    </div>

</div>