<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/41ebbe18ce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Footer Section -->
    <footer>
      <div class="row">
        <div class="col">
          <div><i class="fa-solid fa-leaf" style="font-size: 2em"></i></div>
          <br />
          <p>
            The essential travel companion to discover and book TRIPS by Travel
            With Us, as well as spot-on stays and experiences - curated and
            hand-picked by a global community of travel experts and local
            insiders.
          </p>
          <br />
          <span>We support you to make the most of your time on earth.</span>
        </div>
        <div class="col">
          <h3>
            Office
            <div class="underline"><span></span></div>
          </h3>
          <p>Travel with Us</p>
          <p>Galeria ETC</p>
          <p>Tirane, AL</p>
          <p class="email-id">js1@outlook.com</p>
          <h4>+355 698292868</h4>
        </div>
        <div class="col">
          <h3>
            Links
            <div class="underline"><span></span></div>
          </h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>
            Newsletter
            <div class="underline"><span></span></div>
          </h3>
          <form>
            <div>
              <i class="fa-solid fa-envelope" style="font-size: 2em"></i>
            </div>
            <input type="email" placeholder="Enter Your Email" required />
            <button type="submit">
              <i
                class="fa-solid fa-arrow-right-from-bracket"
                style="font-size: 2em"
              ></i>
            </button>
          </form>
          <div class="social-icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </div>
      <hr />
      <p class="copyright">SDA Protik © 2022 - All Right Reserved</p>
    </footer>
  </body>
</html>
