.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: rgb(125, 73, 173);
  background: linear-gradient(90deg, rgb(40, 40, 124) 0%, rgb(248, 53, 248));
}

.card h1,
h6 {
  color: #fff;
}

label {
  color: #fff;
}
