<h1>Support</h1>

<div class="faq_area section_padding_100" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <div class="line"></div>

                   
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is my trip going ahead?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>All the trips available on our website are going ahead. In the unfortunate event that your trip is cancelled, we will reach out to you directly to confirm your options.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">What happens if my trip is cancelled?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>In the unlikely event that your trip is cancelled by us, we will reach out directly to offer you the following options:</p>
                                <p>A lifetime deposit credit - we'll give you a lifetime deposit credit which you can use on the deposit of the same trip, or a completely different one if you prefer. If you've paid the balance as well (the full amount), we'll refund this balance to the card you paid with, so that the new balance is due 2 months before your new trip.</p>
                                <p>A full refund - we understand sometimes these options won't work for you. In this case we'll offer you a full refund of any payments made for the trip, and we'll also return any credits or single-use discounts so that you can use them again.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">What can I do to protect myself?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>We highly recommend taking out comprehensive travel insurance. Whilst we can't provide formal advice on travel insurance, we do understand many providers are now including Covid-19 cover.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="#"> Email us below</a>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="mb-4 mt-4">Email Us</h2>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address*</label>
      <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email">
    <br>
    </div>
    <div class="form-group">
        <label for="exampleInputName">Name*</label>
        <input type="name" class="form-control" id="InputName" placeholder="Enter name">
        <br>
      </div>
      <div class="form-group">
        <label for="exampleInputSubject">Subject*</label>
        <input type="subject" class="form-control" id="InputSubject" placeholder="Enter subject">
        <br> 
      </div>

      <div class="form-group">
        <label for="InputMessage">Message*</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <br>
      </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>