
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
}
.cover{
    height :200px;
    background-color: blue;
    width: 100%;
    overflow: hidden;
}

.why-us{
    
    
    display: flex;
    justify-content: flex-start;
    
}

.button{
    background-color: #2094E6;
    border: none;
    color: white;
    width: 160px;
    height: 35px;
    padding: 8px, 24px, 8px, 24px;
    font: Work Sans;
}